{{!-- {{#extend "index"}}

{{#block content}} 

<div class="container">
  <div class="row">
    <div class="col-md-3 index_filter-wrapper">
      <h4 class="index_filter-title">Filter By</h4>
      <hr />
      <div>
        {{'partials/category.handlebars'}}
      </div>
      <div>
        {{'partials/brand.handlebars'}}
      </div>
    </div>
    <div class="col-md-9 {{#if page_object}}index_product-wrapper-has-pages{{else}}index_product-wrapper-no-pages{{/if}}">
      {{'partials/product_list.handlebars'}}
    </div>
  </div>
</div>


{{/block}}
{{/extend}} --}}

