{{> style}}
{{> nav}}
<div class="faq-container">
    <h1>Rules and FAQs</h1>
    <dl class="faq">
        <dt><strong>
                This website prohibits price gouging, hoarding and all other forms of unlawful and unethical business
                practices, as defined by law. The intention of this site is to specifically help those in need, during
                times
                of crisis and natural disater relief. If a user is reported for taking part in any of these actions, the
                user will be flagged and permanently banned from using this site.</strong>
        </dt>
        <br>
        <dt>
            <button aria-expanded="false" aria-controls="faq1_desc">
                1. What is Price Gouging?
            </button>
        </dt>
        <dd>
            <p id="faq1_desc" class="desc">
                Florida Statute 501.160 states that during a state of emergency, it is unlawful to sell, lease, offer to
                sell, or offer for lease essential commodities, dwelling units, or self-storage facilities for an amount
                that grossly exceeds the average price for that commodity during the 30 days before the declaration of
                the
                state of emergency, unless the seller can justify the price by showing increases in its prices or market
                trends. Examples of necessary commodities are food, ice, gas, and lumber.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq2_desc">
                2. How do I know if I'm being price gouged?
            </button>
        </dt>
        <dd>
            <p id="faq2_desc" class="desc">
                The law compares the reported price of the commodity or service during the state of emergency to the
                average
                price charged over the 30-day period prior to the declared state of emergency. If there is a “gross
                disparity” between the prior price and the current charge, it is considered price gouging.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq3_desc">
                3. What is covered under the Price Gouging Statute?
            </button>
        </dt>
        <dd>
            <p id="faq3_desc" class="desc">
                The Price Gouging Statute covers only essential commodities. A “commodity” means any good, service,
                material, merchandise, supplies, equipment, resources, or other article of commerce, and includes,
                without
                limitation, food, water, ice, chemicals, petroleum products, and lumber necessary for consumption or use
                as
                a direct result of the emergency. The law also requires those selling goods and services to possess an
                occupational license. Examples of non-essential items luxury items are alcoholic beverages and
                cigarettes.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq4_desc">
                4. What evidence do I need to help enforce the Price Gouging Statute?
            </button>
        </dt>
        <dd>
            <p id="faq4_desc" class="desc">
                If you suspect price gouging, obtain as much information as possible in the form of estimates, invoices,
                receipts or bills. When comparing products, note as much information as possible, including the product
                name, size or quantity, manufacturer, item number and unit price. Report this information to the
                Attorney
                General’s Price Gouging Hotline at 1-866-966-7226. You may also report violations online at
                http://myfloridalegal.com or mail documents to the following address:
                ​
                Office of the Attorney General
                The Capitol, PL-01
                Tallahassee, FL 32399-1050
                Please remember to include your name, the name of the company or individual, and a complaint number, if
                you
                received one.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq5_desc">
                5. What is the definition of hoarding in economics?
            </button>
        </dt>
        <dd>
            <p id="faq5_desc" class="desc">
                In economics, hoarding is the practice of obtaining and holding resources in quantities greater than
                needed
                for one's immediate use. Hoarding exists when the consumer's current inventory of an item exceeds his
                inventory in previous periods while his expected consumption rate (taste) remains constant. This
                definition
                is operational for both consumers and organizations at both individual (micro) and group (macro) levels.
                The
                degree of hoarding can be represented as the ratio of current inventory to previous inventories.
                Hoarding
                also exists when the consumer's expected consumption rate is changing.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq6_desc">
                6. Need additional resources?
            </button>
        </dt>
        <dd>
            <p id="faq6_desc" class="desc">
                The Department of Business and Professional Regulation licenses more than 20 types of professions and
                can be
                reached via telephone at 850-487-1395 or via the internet at http://www.myflorida.com/dbpr.
            </p>
        </dd>
        ​
    </dl>
</div>
<script src="/js/faq.js"></script>