body {
  color: white;
}

body::after {
  content: "";
  background: url("/images/track.jpeg");
  background-size: cover;
  background-position-y: top;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
