html {
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Registration and login page styling */
#register-jumbo {
  background: url("/images/empty.jpg");
  background-image: brightness(50%) saturate(140%);
  color: azure;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding: 200px;
  padding-top: 150px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

/* setting color for h1 on index page */
#hi {
  color: #353b40;
}

.register-container {
  padding: 50px;
  padding-top: 0px;
}

.login-container {
  padding: 50px;
  color: azure;
}

#login,
.alert {
  width: 400px;
}

#login {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}

/* CSS grid for cards on index page, registration form, and profile editing */
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

/* Desiging main cards on index page */
#card {
  background-color: #353b40;
  color: azure;
  min-height: 150px;
}

#card:hover {
  cursor: pointer;
  border: solid azure 2px;
}

/* Getting rid of link text decoration such as underlining */
.grid-container a {
  text-decoration: none;
  color: black;
}

/* styling for profile and account editing pages */
.profile-container,
.account-container {
  margin: auto;
  margin-top: 10px;
  padding: 30px;
  color: black;
  background-color: azure;
  border-radius: 15px;
  width: 80%;
  align-self: center;
}
