html {
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

#register-jumbo {
  background: url("/images/empty.jpg");
  background-image: brightness(50%) saturate(140%);
  color: azure;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding: 200px;
  padding-top: 150px;
}

/* #jumbotron {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
} */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.register-container {
  padding: 50px;
  padding-top: 0px;
}

.login-container {
  padding: 50px;
  color: azure;
}

#login,
.alert {
  width: 400px;
}

#login {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#card {
  min-height: 150px;
}

#card:hover {
  cursor: pointer;
  border: solid black 1px;
}

.grid-container a {
  text-decoration: none;
  color: black;
}
